<h3 class="text-muted">Даты</h3>

<div class="input-group" id="tour-booking-date">
    <input class="form-control" name="currentVariantId">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-calendar text-primary"></span>
        </button>
    </span>
</div>

