<h3 class="text-muted">
    Дополнительно
</h3>

<div id="tour-booking-extra-service-group-collection"></div>

<div class="tour-booking-price">
<h4 class="text-info">Стоимость доп. услуг <span><%= getPrice(price) %></span></h4>
</div>


