<div class="col-xs-4">
  <h3>Даты
  </h3>
</div>
<div class="col-xs-8">
  <div class="input-group" id="tour-booking-date">
    <input class="form-control" name="currentVariantId">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-calendar text-primary"></span>
      </button>
    </span>
  </div>
  <span class="tour-booking-date-details text-muted">
    по <%= getEnd(currentVariantId, duration) %>, <%= getDuration(duration) %>
  </span>
</div>

