<div class="col-xs-12">
    <p>Ошибка получения данных. Пожалуйста <a href="mailto:it@dsbw.ru" class="tour-booking-tech-support">сообщите в службу поддержки</a> или воспользуйтесь <a href="#" class="tour-booking-old-url">старой версией</a></p>
    <p class="text-danger"><strong><%- message %></strong></p>
</div>