<div class="col-xs-4">
  <h3>Дополнительно</h3>
</div>
<div class="col-xs-8 tour-booking-section-content">
  <div id="tour-booking-extra-service-group-collection"></div>

  <div class="tour-booking-price">
    <h4>Стоимость дополнительных услуг <span><%= getPrice(price) %></span></h4>
  </div>
</div>
