<div class="col-xs-4">
    <h3>Туристы</h3>
</div>
<div class="col-xs-8">
  <% if (isLocal) { %>
    <a href="#" class="tour-booking-fill-tourists-data">Автоматически заполнить данные</a>
  <% } %>
  <div id="tour-booking-tourist-collection"></div>
</div>