<h3>Оплата наличными</h3>
<div id="pay-map"></div>
<p>В офисе компании по адресу: <br><strong>г. Москва, Лубянский проезд, 19/1, метро &laquo;Китай-город&raquo;</strong></p>
<p>Время зачисления средств на бронь: <strong>моментально</strong></p>

<p>К оплате в операционной кассе банка в офисе компании принимаются рубли и кредитные карты по внутреннему курсу компании
  на день оплаты (ЦБ + 2%), который составляет на <strong>сегодня, <%= currentDate %></strong>
<br><strong>1&euro; = <%= eurPrefRate %> руб.</strong>, <strong>1$ = <%= usdPrefRate %> руб.</strong> </p>
<p> А также евро и доллары США <strong>по курсу 1:1</strong></p>
