

<h3>Оплата переводом через Сбербанк РФ</h3>
<p class="text-muted">или любой другой банк (в том числе интернет-банки)</p>
<p>Время зачисления средств на бронь: <strong>на следующий банковский день</strong></p>
<p>Баланс пополняется после получения нами копии квитанции или в день поступления денег на наш счёт.</p>
<p>Вы можете распечатать, вырезать и оплатить в Сбербанке данную квитанцию, а можете использовать её просто как образец, заполнив форму, выданную в Сбербанке (или любом другом коммерческом банке). Но номер счёта (№XTL4040102), сумма (100) и наименование платежа (Оплата путевки XTL4040102) должны быть такими же, как в этой квитанции!</p>
<p>При оплате услуг через Сбербанк, с Вас могут дополнительно потребовать до 3% от суммы платежа.</p>
<div class="sbrf-container"></div>

<h3>Оплата по безналичному расчету</h3>
<p>Время зачисления средств на бронь: <strong>на следующий банковский день</strong></p>
<p>Оплата путевки может быть также произведена по безналичному расчету. Сумма к оплате в рублях указана в Вашем листе бронирования.</p>
<p>Оплата может быть произведена через любой банк. Вам нужно только выбрать приемлемый для Вас банк и не забыть указать в "назначении платежа" № листа бронирования/счета и свои Ф.И.О., для автоматического зачисления средств на Вашу путевку.</p>
<% if (isAgency) {%>
<div class="bill-container"></div>
<% } %>

<h3>Оплата через систему Contact</h3>
<p>Время зачисления средств на бронь: <strong>на следующий банковский день</strong></p>
<p>Забронированный в DSBW-TOURS тур возможно оплатить в более чем 2000 пунктах приема платежей системы CONTACT – на территории РФ.
  CONTACT – система денежных переводов и платежей без открытия счета. Организатор и Клиринговый Банк – <a href="http://www.russlavbank.com/" target="_blank">АКБ «РУССЛАВБАНК» (ЗАО)</a>, генеральная лицензия № 1073.</p>

<p><a href="http://www.contact-sys.com/payment/point/DSBW.html" target="_blank"><strong>Полный список пунктов обслуживания системы</strong></a></p>