<img class="pay-terminal" src="<%= util.image('pay', 'terminal.png') %>">
<h3>Оплата заказа в терминале Связной</h3>
<p class="pay-logo"><img src="<%= util.image('pay', 'svyaznoy.png') %>" alt=""></p>
<p>Время зачисления средств на бронь - <strong>моментально</strong></p>
<ol>
  <li>Зайдите в раздел "Билеты и туризм"</li>
  <li>Выберите услугу "DSBW-TOURS Континент"</li>
  <li>Введите Ваш номер заказа (10 символов).</li>
  <li>Укажите Ваш номер телефона.</li>
  <li>Укажите точную сумму к зачислению</li>
  <li>Проверьте и подтвердите введенные Вами данные.</li>
  <li>Введите деньги в купюроприемник и нажмите кнопку "Оплатить".</li>
  <li>Получите и сохраните квитанцию об оплате. В терминалах Связной можно воспользоваться сдачей для оплаты других услуг, таким образом, наличие точной суммы денежных средств не обязательно.</li>
</ol>

<p>Услугу также можно найти по поиску в меню терминала.</p>
<p><strong>ВНИМАНИЕ!</strong> Максимальная сумма одного платежа в терминале составляет 15 000 рублей.
  <strong>Комиссия с плательщика не взимается (0%)</strong>. Услуги предоставляются ООО НКО "Рапида".</p>



