<div id="pay-article">
  <div class="panel panel-default">
    <div id="pay-menu-region"></div>
    <div id="pay-content-region" class="panel-body pay-variant-section"></div>
  </div>
</div>

<div id="pay-footer-region"></div>